@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body{
    background-color: #242424;
    margin: 0;
    user-select: none;
    font-family: 'Comfortaa', sans-serif;
}

nav{
    height: 5vw;
    background-color: #151515;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

nav #logo{
    height: 5vw;
    border-radius: 10px;
    left: 0;
    position: absolute;
}

nav #pc{
    text-decoration: none;
    cursor: pointer;
    color: #febd69;
    font-size: 1.5vw;
    background-color: #242424;
    border-radius: 10px;
    padding: 0.5vw;
    text-shadow: 0 5px 5px black;
    border-bottom: 2px solid #febd69;
    box-shadow: 0 10px 10px -5px #febd69;
    transition-duration: 0.2s;
}

nav #pc:hover{
    color: #ff9d1d;
    box-shadow: 0 10px 10px -5px #ff9d1d;
    border-bottom: 2px solid #ff9d1d;
    transition-duration: 0.2s;
}

nav #social{
    text-decoration: none;
    cursor: pointer;
    color: #febd69;
    font-size: 1.5vw;
    background-color: #242424;
    border-radius: 10px;
    padding: 0.5vw;
    text-shadow: 0 5px 5px black;
    border-bottom: 2px solid #febd69;
    box-shadow: 0 10px 10px -5px #febd69;
    transition-duration: 0.2s;
    margin-left: 1vw;
}

nav #social:hover{
    color: #ff9d1d;
    box-shadow: 0 10px 10px -5px #ff9d1d;
    border-bottom: 2px solid #ff9d1d;
    transition-duration: 0.2s;
}

nav #beats{
    text-decoration: none;
    cursor: pointer;
    color: #febd69;
    font-size: 1.5vw;
    background-color: #242424;
    border-radius: 10px;
    padding: 0.5vw;
    text-shadow: 0 5px 5px black;
    border-bottom: 2px solid #febd69;
    box-shadow: 0 10px 10px -5px #febd69;
    transition-duration: 0.2s;
    margin-left: 1vw;
}

nav #beats:hover{
    color: #ff9d1d;
    box-shadow: 0 10px 10px -5px #ff9d1d;
    border-bottom: 2px solid #ff9d1d;
    transition-duration: 0.2s;
}

nav #social:active, #pc:active, #beats:active{
    font-size: 1.4vw;
}

.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#title{
    font-size: 2.604vw;
    text-align: center;
    color: white;
    text-shadow: 0 5px 5px black;
}

h2{
    font-size: 1.563vw;
    color: white;
    text-shadow: 0 5px 5px black;
}

#info{
    margin-top: 5vw;
}