@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    user-select: none;
    background-color: white;
    color: black;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 2.604vw;
    color: black;
}

nav {
    background-color: #f8f9fa;
    height: 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav .logo {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    width: 5vw;
    border-radius: 10px;
}

.button {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    border: 0.156vw solid black;
    border-radius: 10px;
    padding: 5px 5px 5px;
    font-size: 2.604vw;
}

.tiktube {
    width: 9vw;
    height: auto;
}

.title {
    font-size: 2.604vw;
    text-align: center;
}

.info-ita, .info-eng {
    width: 50%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    color: black;
    border-radius: 5px;
}

.info-eng {
    border-left: 0.052vw solid black;
}

.info-ita {
    border-right: 0.052vw solid black;
}

.info-ita h2 {
    font-size: 1.563vw;
    text-align: center;
}

.info-ita h2 p {
    font-size: 1.042vw;
}

.info-eng h2 {
    font-size: 1.563vw;
    text-align: center;
}

.info-eng h2 p {
    font-size: 1.042vw;
}

.container {
    display: flex;
    transform: translateY(10px);
}

.ytlogo {
    width: 5.208vw;
}

.tiktoklogo {
    width: 4.167vw;
    margin-left: 15px;
    border-radius: 10px;
}

#tikton {
    color: #00FFFF;
    transition-duration: 0.5s;
}

#tikton:hover {
    color: blueviolet;
    transition-duration: 0.5s;
    text-shadow: 0px 0px 20px blueviolet;
}

.socialtok {
    background: linear-gradient(-60deg, #f7004d 50%, #00FFFF 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4vw;
    transform: translateY(-2vw);
}

.socialyt {
    background: linear-gradient(-60deg, black 50%, red 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4vw;
}

.butube {
    color: black;
    background-color: red;
    border: 0.156vw solid white;
    text-decoration: none;
    padding: 5px 5px 5px;
    font-size: 1.9vw;
    border-radius: 10px;
    transition-duration: 0.5s;
    transform: translateX(1vw) translateY(-2vw);
}

.butube:hover {
    border: 0.156vw solid red;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 20px red;
    font-size: 2vw;
    text-shadow: 0px 0px 5px white;
}

.logoyt {
    height: 2.9vw;
    width: auto;
    margin-right: 0.521vw;
    transform: translateX(1vw) translateY(-2vw);
}

.buttonzone {
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.youtube {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-6vw);
}

.discord {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-6vw);
}

.socialds {
    color: #5765ec;
    font-size: 4vw;
    transform: translateX(15vw) translateY(-0.6vw);
}

.ds {
    height: 5.5vw;
    width: auto;
    margin-right: 0.521vw;
    transform: translateX(4vw) translateY(-2vw);
}

.butds {
    color: black;
    background-color: #5765ec;
    border: 0.156vw solid white;
    text-decoration: none;
    padding: 5px 5px 5px;
    font-size: 1.9vw;
    border-radius: 10px;
    transition-duration: 0.5s;
    transform: translateX(3vw) translateY(-2vw);
}

.butds:hover {
    border: 0.156vw solid #5765ec;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 20px #5765ec;
    font-size: 2.1vw;
    text-shadow: 0px 0px 5px black;
}

.buttonzone1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(14.5vw) translateY(-1.5vw);
}

#toggle-container {
    position: absolute;
    right: 2vw;
    display: flex;
    align-items: center;
}

#switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    width: 3vw; /* Dimensioni ridotte */
    height: 1.5vw; /* Dimensioni ridotte */
    background: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    position: relative;
    padding: 0 0.2vw; /* Padding for icons */
    box-sizing: border-box;
}

.sun, .moon {
    font-size: 1vw; /* Adjust size as needed */
}

label:after {
    content: '';
    position: absolute;
    top: 0.15vw; /* Dimensioni ridotte */
    left: 0.15vw; /* Dimensioni ridotte */
    width: 1.2vw; /* Dimensioni ridotte */
    height: 1.2vw; /* Dimensioni ridotte */
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 0.1vw);
    transform: translateX(-100%);
}

input:checked + label .sun {
    display: none;
}

input:not(:checked) + label .moon {
    display: none;
}